html,
body {
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-family: "Source Sans Pro", sans-serif;
  background-color: #f1f1f1;
}

h3 {
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 0;
}

p {
  font-weight: 400;
  margin-top: 5px;
  padding-left: 5px;
}

.container {
  width: 370px;
  margin: 0 auto;
}

.container {
  margin-bottom: 10px;
  background-color: white;
  border-radius: 1px;
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 25px 20px;
  height: 67px;
  border-bottom: 1px solid #c6c6c6;
}

.header-logo-img {
  width: 127px;
}

.profile-container {
  display: flex;
  align-items: center;
  margin: 10px 0;
  padding: 5px;
}

.profile-container div {
  margin-right: 5px;
}

.rounded-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.large-img {
  width: 100%;
}

.social-icons img {
  width: 23px;
  padding: 10px 5px;
  cursor: pointer;
}

.social-icons img:hover {
  opacity: 0.5;
}

.likes-count {
  margin: 0;
  padding-left: 5px;
}

p span {
  font-weight: 700;
}
